 <!-- start header -->
 <header class="container-fluid">
  <!-- top header-->

  <div
    class="top-header container-fluid d-flex rounded-bottom justify-content-between">
    <div class="socialMedia">
      <h6 class="p-2">{{ social.first }} | {{ social.last }}</h6>
    </div>
    <div class="bonus">
      <h6 class="p-2">Get 35% Discount for all Foods </h6>
    </div>
  </div>
  <nav class="navbar d-flex justify-content-between mt-4">
    <!-- logo site-->
    <div class="logo d-flex ">
      <img class="ms-5" src="../../assets/Untitled-1.png" alt>
      <h1 class="ms-2 text-white">{{ nameBrand }}</h1>
    </div>
    <!-- menu site-->

    <div class="  ">
      <ul>
        <li class="home"><a href>Home</a></li>
        <li><a href>Menu</a></li>
        <li><a href>Blog</a></li>
        <li><a href>Contact</a></li>

      </ul>
    </div>
  </nav>
</header>