
<!-- start section for menu #################### -->

<section class="menu text-center">
 <div class="text-center mt-5">
  <h1 class="text-light p-5 table">Menu</h1>
 </div>
 <div class="d-flex">

  <div class="col-2 left-image">
   <img class="col-12" src="../../assets/1.png" alt>
  </div>
  <!-- menu list-->

  <div class="col-8 d-flex">
   <div class="ta col-3 p-2">
    <h5 class="p-2">Salade</h5>
    <p class="p-2">Salade César poulet</p>
    <p class="p-2">Assiette de saumon fumé</p>
    <p class="p-2">Salade niçoise revisitée</p>
    <p class="p-2">Planche de fromage</p>

   </div>
   <div class="ta col-3 p-2">
    <h5 class="p-2">Classic Burgers</h5>
    <p class="p-2">Cheeseburger</p>
    <p class="p-2">Bacon Cheeseburger</p>
    <p class="p-2">Double Cheeseburger</p>
    <p class="p-2">Mushroom & Swiss Burger</p>

   </div>
   <div class="ta col-3 p-2">
    <h5 class="p-2">Classic pizzas</h5>
    <p class="p-2">Margherita</p>
    <p class="p-2">Hawaiian</p>
    <p class="p-2">Mushroom</p>
    <p class="p-2">Truffle pizza</p>

   </div>
   <div class="ta col-3 p-2">
    <h5 class="p-2">Appetizers</h5>
    <p class="p-2">Oysters on the half shell</p>
    <p class="p-2">Shrimp cocktail</p>
    <p class="p-2">Mussels </p>
    <p class="p-2">Calamari fritti</p>

   </div>
  </div>

  <div class="col-2">
   <img class="col-12 right-image" src="../../assets/2.png" alt>
  </div>
 </div>
</section>

<!-- end section for menu #################### -->