
<!-- start section for menu #################### -->

<section class="menu text-center">
 <div class="text-center mt-5">
  <h1 class="text-light p-5 table">Menu</h1>
 </div>
 <div class="d-flex">

  <div class="col-2 left-image">
   <img class="col-12" [src]="images.leftImg" alt>
  </div>
  <!-- menu list-->

  <div class="col-8 d-flex">
   <div class="ta col-3 p-2">
    <h5 class="p-2">{{ name1 }}</h5>
    <p class="p-2" *ngFor="let items of Salade ">{{ items }}</p>
   

   </div>
   <div class="ta col-3 p-2">
    <h5 class="p-2">{{ name2 }}</h5>
    <p class="p-2" *ngFor="let items of Burgers ">{{ items }}</p>

  

   </div>
   <div class="ta col-3 p-2">
    <h5 class="p-2">{{ name3 }}</h5>
    <p class="p-2" *ngFor="let items of pizzas ">{{ items }}</p>


  

   </div>
   <div class="ta col-3 p-2">
    <h5 class="p-2">{{ name4 }}</h5>
    <p class="p-2" *ngFor="let items of Appetizers ">{{ items }}</p>

  

   </div>
  </div>

  <div class="col-2">
   <img class="col-12 right-image" [src]="images.rightImg" alt>
  </div>
 </div>
</section>

<!-- end section for menu #################### -->