
<!-- ################# START second section ###############-->

<section class="second-section mt-5 mb-5">
  <div class="container d-flex">
    <div class="col-6 p-4">
      <img class="col-12 " [src]=" Leftcontent.img " alt>
      <p class="mt-5 p-3 text-center text-uppercase">{{ Leftcontent.leftText }} </p>
      <button class="but-book ">{{ Leftcontent.title }}</button>
    </div>
    <div class="col-6 p-4">
      <img class="col-12 " [src]=" Rightcontent.img" alt>
      <p class="mt-5 p-3 text-center text-uppercase"> {{ Rightcontent.RightText }} </p>
      <button class="but-book float-end">{{ Rightcontent.title }}</button>
    </div>
  </div>
</section>

<!-- ################# END second section ###############-->